{% extends "base.html" %}

{% block body %}
<div class="container vh-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-lg-6">
        <div class="card shadow-sm">
          <div class="card-body text-center">
            <h2 class="card-title mb-3"><b>About $-Tracker</b></h2>
            <p class="mb-3">
              Our Expense Tracker helps you organize your finances by allowing you to record, monitor, and analyze your spending with ease. Whether you want to set budgets, track daily expenses, or gain insights into your spending habits, this tool is designed to keep you in control of your money.
            </p>
            <p class="mb-3">
              Quickly add, edit, or delete expenses; view summaries by category; and visualize your data to make smarter financial decisions.
            </p>
            <hr>
            <small class="text-muted">Developed by Prabal Parmar.</small>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}